<h1 class="mb-4 text-white">{{title}}</h1>

<div class="card mb-4">
    <div class="card-body">
        <h4 class="card-title">About</h4>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quia dicta voluptatibus repellendus quae maxime numquam dolores nemo nesciunt delectus officiis dolorum a corrupti, eveniet commodi ut, fugiat, nostrum necessitatibus!</p>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora necessitatibus officiis ex harum saepe quibusdam tenetur maxime optio, reiciendis perspiciatis hic esse delectus eius sint eligendi, nihil, voluptatum blanditiis? Officia possimus tenetur quas odio fugiat odit exercitationem ipsum ad blanditiis facilis quasi enim ipsa amet facere temporibus necessitatibus iusto porro, recusandae repudiandae eveniet quam laudantium explicabo. Obcaecati sequi odit iusto, voluptatibus non debitis in perferendis laborum fuga sit ad laboriosam incidunt aperiam, dolor soluta fugiat aut repellendus nulla hic quam at cum. Magni aliquid accusantium similique deserunt corporis culpa officia vero, minus, odio, sapiente repellat ratione voluptates nemo beatae cumque</p>
    </div>
</div>

<a href="/" class="btn btn-secondary btn-sm">< Back to App</a>